*{
    margin: 0;
    padding: 0;
    
}

.container-bcg{
    background-image: url('Images/Home\ page/BACkImg.jpg');
    opacity: 1.0;
    width: 100%;
    height:500px;
    background-size: cover;
}
.container-bcg{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
}
.para-learning{
    margin: 0px 20px;
    width: 25%;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.h2-para{
    color: #fffefd;
    font-size: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.para-span{
    color:rgb(127, 199, 235);
 
}
.container-para{
    color: #eee2de;
    font-size: 20px;
}
.container-button{
    margin: 0px 40px;
    height: 100px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.review-section{
    height: 200px;
}

.horizontal-para{
    padding: 0px 30px;
    margin: 70px 0px;
  
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Better-carrer{
    width: 210px;
  
    display: flex;
    flex-direction: column;

}
.Better-carrer img{
    margin-bottom: 30px;
}
.Better-carrer .details{
    text-align: center;
    font-size: x-large;
}
.Better-carrer .details p{
    text-align: center;
    font-size:medium;
}
.Better-carrer img{
    border-radius: 50%;
}
.foot{
    background-color: #ba704f;
    height:70px;
    display: flex
    ;
    justify-content: flex-start;

}
.foot .about{
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 40%;
}
.foot .icons{
    padding: 20px 0px;
    flex: 1;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
 .foot .icons a {
    text-decoration: none;
    color: white;
}
.foot .icons a i{
    font-size: 20px;
}

.icons a i:hover{
    font-size: 29px;
}
.foot .copy{
    width: 35%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
.full{
   background-color: lightblue;
}
@media(max-width:990px) {
    .navbar-brand{
        visibility: hidden;
    }
    .container-bcg{
        height: 800px;
        align-items: center;
    }
  
   
    
}